//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 29 21:32:52 2022
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

